git+https://github.com/stanfordmlgroup/ngboost.git
https://github.com/PKSHATechnology-Research/camphr_models/releases/download/0.5/ja_mecab_udify-0.5.tar.gz
camphr
fastprogress
ginza
japanize-matplotlib
joblib==0.13.2
kaggler
mecab-python3
mlflow
neologdn
numpy==1.16.4
optuna==0.18.0
pytest>=3.6
pytest-remotedata>=0.3.1
scikit-learn==0.20.3
scipy==1.1.0
transformers==2.5.1
